<%= error_messages_for :record %>
<% row_id = "menu_#{@record.id ? @record.id : 'new'}" %>
<% remote_form_for :record, :method => :post, :url => url, :html => {:id => row_id, } do |f| %>
  <div class="tabs">
  <ul>
    <li><a href="#<%= row_id %>_menu_tab"><%= t(:model_menu) %></a></li>
    <li><a href="#<%= row_id %>_meals_tab"><%= t(:model_meals) %></a></li>
  </ul>
  <div id="<%= row_id %>_menu_tab">
    <p><label for="<%= row_id %>_name"><%= t('attr_name') %></label><br />
    <%= f.text_field :name, :id=>"#{row_id}_name", :class => "{required:true, minlength: 2, maxlength: 100}"%></p>
    <p><label for="<%= row_id %>_price"><%= t('attr_price') %></label><br />
    <%= f.text_field :price, :id=>"#{row_id}_price", :onkeyup=>"decimal_dot_conversion(this)", :class => "{required:true, number: true, minlength: 1}" %></p>
    <p><label for="<%= row_id %>_description"><%=t('attr_description') %></label><br />
    <%= f.text_area :description, :id=>"#{row_id}_description" %></p>
  </div>
  <div id="<%= row_id %>_meals_tab">
  <% for category in @categories %>
    <p>
    <label for="<%= row_id %>_meal_select_<%= category.id %>"><%= category.name %>: </label><br />
    <select id="<%= row_id %>_meal_select_<%= category.id %>" name="record[meal_ids][]">
      <option value="">&ndash;</option>
      <% for meal in @meals[category.id] %>
        <option value="<%= meal.id %>"<%= 'selected="selected"' if @courses[category.id] == meal.id %>><%= meal.name %></option>
      <% end %>
    </select>
    </p>
  <% end %>
  </div>
  </div>
  <p><%= yield(:submit_button) || '<input type="submit" value="' + t(:submit) + '" />' %></p>
<% end %>
<script type="text/javascript">
$(function(){
  $("#<%=row_id%>").data("onsubmit",'confirm("<%=t(:confirm_save)%>\\n<%=t(:scheduled_menus_wont_be_updated)%>")');
  $("form").initValidation();
});</script>