<%= error_messages_for :record %>
<% row_id = "record_#{@record.id ? @record.id : 'new'}" %>
<% remote_form_for :record, :url => url.reverse_merge!(:format => 'js'), :html => {:class => "dialy_menu"} do |f| %>
  <p><label for="<%=row_id%>_date"><%= t(:attr_date) %></label><br />
  <%= f.text_field :date, :id=> "#{row_id}_date", :class => 'datepicker' %></p>
  <% unless @record.new_record? %>
    <p><label for="<%=row_id%>_menu_price">cena menu</label><br />
    <%= f.text_field :menu_price, :id=> "#{row_id}_menu_price", :onykeyup => 'decimal_dot_conversion(this)'%>&nbsp;Kč</p>
    <fieldset>
      <legend>Jídla</legend>
      <table id="<%= row_id %>_entries" class="admin">
        <thead>
          <tr>
            <td>název</td>
            <td>cena</td>
            <td>kategorie</td>
            <td>v menu?</td>
            <td><a href="#" class="add entry">přidat</a></td>
          </tr>
        </thead>
        <tbody>
          <tr class="sample">
            <td><%= text_field_tag "entries[ID][name]", nil, :class => "name", :size => 36 %></td>
            <td><%= text_field_tag "entries[ID][price]", nil, :class => "price", :size => 4, :onykeyup => 'decimal_dot_conversion(this)' %>&nbsp;Kč</td>
            <td>
              <select class="category" name="entries[ID][category_id]">
                <option/>
                <%= options_from_collection_for_select @categories, :id, :name %>
              </select>
            </td>
            <td><%= check_box("entries[ID]", "in_menu") %></td>
            <td rowspan="2"><a href="#" class="destroy">smazat</a><%= hidden_field_tag "entries[ID][_destroy]" %></td>
          </tr>
          <tr class="sample">
            <td colspan="4"><%= text_area_tag "entries[ID][description]", nil, :rows => 2, :cols => 70, :maxlength => 120%></td>
          </tr>
        <%- @record.entries.each do |entry| -%>
          <tr>
            <td><%= text_field_tag "entries[#{entry.id}][name]", entry.name, :class => "name", :size => 36 %></td>
            <td><%= text_field_tag "entries[#{entry.id}][price]", entry.price, :class => "price", :size => 4, :onykeyup => 'decimal_dot_conversion(this)'%>&nbsp;Kč</td>
            <td>
              <select class="category" name="entries[<%=entry.id%>][category_id]">
                <option/>
                <%= options_from_collection_for_select @categories, :id, :name, entry.category_id %>
              </select>
            </td>
            <td><%= check_box("entries[#{entry.id}]", "in_menu", :checked => entry.in_menu?) %></td>
            <td rowspan="3"><a href="#" class="destroy">smazat</a><%= hidden_field_tag "entries[#{entry.id}][_destroy]" %></td>
          </tr>
          <tr>
            <td colspan="4">
              <% @flags.each do |flag| %>
              <%= label_tag "entries_#{entry.id}_meal_flag_ids_#{flag.id}", flag_image(flag), :title => flag.description %>
              <%= check_box_tag "entries[#{entry.id}][meal_flag_ids][]", flag.id, entry.meal_flags.include?(flag), :id => "entries_#{entry.id}_meal_flag_ids_#{flag.id}"%>
              <% end %>
              <%= hidden_field_tag "entries[#{entry.id}][meal_flag_ids][]", ""%>
            </td>
          </tr>
          <tr>
            <td colspan="4"><%= text_area_tag "entries[#{entry.id}][description]", entry.description, :rows =>  2, :cols => 70, :maxlength => 200%></td>
          </tr>
        <%- end -%>
        </tbody>
      </table>
    </fieldset>
  <%end%>
<p><%= yield(:submit_button) || '<input type="submit" value="' + t(:submit) + '" />' %></p>
<% end %>
<script type="text/javascript">
$(function(){
  $("form").initValidation();
  $(".datepicker").datepicker();
  $('#<%= row_id %>').initDialyMenu();
})</script>