<div id="dialy_menu">
  <div class="head"></div>
  
  <div class="body">
  <div class="title">
    <h1>Vegetariánské menu na&nbsp;<%= format menu.date %></h1>
  </div>
  <%- opened = nil%>
  <%- legend = nil%>
  <%- entries.each do |category, meals|%>
    <%- if category == categories[:first] and prices%>
      <%- opened = true %>
      <%- unless category == entries.first.first%>
      <hr/>
      <%-end-%>
    <%-end-%>
    <h1 class="category"><%= h category.name%></h1>
    <%- last = nil %>
    <%-meals.each do |meal|%>
      <div class="meal <%= meal.in_menu? ? 'menu' : 'entry'%>">
        <h2 class="name"><%= czech_typo(meal.name)%> <%= meal.flags.collect{|f|legend ||= true; flag_image(f)}.join("&nbsp;")%></h2>
        <%- if prices %><strong class="price"><%= format_currency meal.price%></strong><%-end-%>
        <%-if opened && !meal.in_menu?%>
        <em class="note">není součástí menu</em>
        <%-end-%>
        <p class="description"><%= czech_typo(meal.description)%></p>
      </div>
    <%- end -%>
    <%- if category == categories[:last] and prices%>
      <div class="whole_menu">
        <h2 class="name">Celé menu</h2><strong class="price"><%= format_currency menu.menu_price%></strong>
        <div class="clearfix">&nbsp;</div>
      </div>
      <%- unless category == entries.last.first%>
      <hr/>
      <%-end-%>
      <%- opened = false %>
    <%-end-%>
  <%- end-%>
  <%- if legend%>
  <p class="legend">
    <% @flags.each do |flag| %>
      <span class='entry'><%=flag_image(flag)%> &ndash; <%=h flag.description%></span>
    <%- end if @flags %>
  </p>
  <%-end%>
  </div>

  <div class="footer"></div>
</div>
