<%= will_paginate @records %>
<table class="admin" id="records">
  <thead>
    <tr>
      <td><%= link_to locales["attr_#{@options[:title][:name]}"], :action => 'index', :order => @options[:title][:name] %></td>
    <% for column in @options[:columns] %>
      <td><%= link_to locales["attr_#{column}"], :action => 'index', :order => column %></td>
    <% end %>
      <td><%= link_to 'Smazat snippets cache', :action => 'delete_snippets_cache' %></td>
    </tr>
  </thead>
  <tbody id="records_body">
  <% for record in @records %>
    <tr id="record_<%= record.id %>">
      <%= render :partial => 'show', :locals => {:record => record} %>
    </tr>
  <% end %>
  </tbody>
</table>
<% if protect_against_forgery? %> 
<div style='display: none;' id="authenticity_token"><%= form_authenticity_token %></div> 
<% end %>