<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title><%= locales[:title]%></title>
    <link><%=url_for(:only_path => false)%></link>
    <description><%= locales[:motto]%></description>
    <language><%= current_user.interface_language%></language>
    <%-@scheduled_items.each_pair do |day, items|-%>
    <item>
      <title><%=format_date_with_weekday(day)%></title>
      <description><![CDATA[
        <%-items[:menus].each do |menu|-%>
          <h3><%=menu.name%></h3>
          <%-menu.meals.each do |meal|-%>
          <h4><%=meal.name%></h4>
          <p><%=meal.description%></p>
          <%-end-%>
        <%-end-%>
        <%-items[:categories].each_pair do |category, meals|-%>
          <h3><%=category.name%></h3>
          <%-meals.each do |meal|-%>
          <h4><%=meal.name%></h4>
          <p><%= meal.description%></p>
          <%-end-%>
        <%-end-%>
        ]]>
      </description>
      <pubDate><%=Time.parse(day.to_s).rfc822%></pubDate>
      <link><%=url_for(:action => "index", :id => day.to_s, :only_path => false)%></link>
      <guid isPermalink="true"><%=url_for(:action => "index", :id => day.to_s, :only_path => false)%></guid>
    </item>
    <%-end-%>
  </channel>
</rss>

