<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="<%=formatted_feed_menu_url()%>" rel="self" type="application/rss+xml" />
    <title><%= locales[:title]%></title>
    <link><%=url_for(:only_path => false)%></link>
    <description><%= locales[:motto]%></description>
    <language><%= current_user.interface_language%></language>
    <%-@scheduled_items.each do |day, items|-%>
    <item>
      <title><%=format_date_with_weekday(day)%></title>
      <description><![CDATA[
        <%-items[:menus].each do |menu|-%>
          <h3><%=menu.name%></h3>
          <%-menu.meals.each do |meal|-%>
          <h4><%=meal.name%><%= meal_flags(meal, false) %></h4>
          <%=meal.description%>
          <%-end-%>
        <%-end-%>
        <%-items[:categories].each_pair do |category, meals|-%>
          <h3><%=category.name%></h3>
          <%-meals.each do |meal|-%>
          <h4><%=meal.name%><%= meal_flags(meal, false) %></h4>
          <%= meal.description%>
          <%-end-%>
        <%-end-%>
        ]]>
      </description>
      <pubDate><%=Time.parse(day.to_s).rfc822%></pubDate>
      <link><%=menu_url(day)%></link>
      <guid><%=menu_url(day)%></guid>
    </item>
    <%-end-%>
  </channel>
</rss>

