<%-@scheduled_items.each do |day, items|-%>

  <h1><%=format_date_with_weekday(day)%></h1>
  <%-items[:menus].each do |menu|-%>
    <h2><%=menu.name%>&nbsp;&ndash; <%= format_currency menu.price%></h2>
    <%-menu.meals.each do |meal|-%>
    <h3><%=meal.name%>&nbsp;&ndash; <%= format_currency meal.price%> <%= meal_flags(meal, false) %></h3>
    <%=meal.description%>
    <%-end-%>
  <%-end-%>
  <%-items[:categories].each do |category, meals|-%>
    <h2><%=category.name%></h2>
    <%-meals.each do |meal|-%>
    <h3><%=meal.name%>&nbsp;&ndash; <%= format_currency meal.price%><%= meal_flags(meal, false) %></h3>
    <%= meal.description%>
    <%-end-%>
  <%-end-%>
  <div class="page-break"></div>
<%-end-%>