<%-@scheduled_items.each do |day, items|-%>

  <h1><%=format_date_with_weekday(day)%></h1>
  <%-items[:menus].each do |menu|-%>
    <h2><%=menu.name%></h3>
    <%-menu.meals.each do |meal|-%>
    <h3><%=meal.name%><%= meal_flags(meal, false) %></h4>
    <%=meal.description%>
    <%-end-%>
  <%-end-%>
  <%-items[:categories].each do |category, meals|-%>
    <h2><%=category.name%></h3>
    <%-meals.each do |meal|-%>
    <h3><%=meal.name%><%= meal_flags(meal, false) %></h4>
    <%= meal.description%>
    <%-end-%>
  <%-end-%>
  <div class="page-break"></div>
<%-end-%>