<td><%= format_date record.date%></td>
<td><%= format "#{record.car.registration_no} #{record.car.note}" %></td>
<td><%= format record.user_login %></td>
<td><%= format_currency record.cost%></td>
<td><%= format record.amount%><%= t(:fuel_unit)%></td>
<td>
  <%= smart_link t(:edit), :action => 'edit', :id => record %>
  | <%= smart_link t(:delete), {:action => 'destroy', :id => record}, :confirm => t('delete_confirmation') %>
</td>