<table class="admin">
  <thead>
    <tr>
      <td><%=t(:attr_registration_no)%></td>
      <td><%=t(:driver)%></td>
      <td><%=t(:attr_date)%></td>
      <td><%=t(:attr_beginning)%></td>
      <td><%=t(:attr_ending)%></td>
      <td><%=t(:attr_private_distance)%></td>
      <td><%=t(:attr_business_distance)%></td>
    </tr>
  </thead>
  <tbody>
    <% @sums.each do |sum|%>
    <tr>
      <td><%= format "#{sum.car.registration_no} #{sum.car.note}"%></td>
      <td><%= format sum.user.login%></td>
      <td><%= format_date Date.parse(sum[:from])%> až <%= format_date Date.parse(sum[:to])%></td>
      <td><%= format_distance sum.beginning_in_kilometers%></td>
      <td><%= format_distance sum.ending_in_kilometers%></td>
      <td><%= format_distance sum.private_distance_in_kilometers%></td>
      <td><%= format_distance sum.business_distance_in_kilometers%></td>
    </tr>
    <%end%>
  </tbody>
</table>
    