<% form_tag url_for(:action => 'index'), :method => :get do -%>
  <p class="search">
    <%=t(:list_only_users).mb_chars.capitalize%> <label for="id"><%=t(:in_group)%>:</label>
    <%= select_tag :id, options_from_collection_for_select(@groups, 'system_name', 'title', params[:id]) + 
    '<option value="" '+ @selected +">#{t(:list_all)}</option>" %>
    <label for="q"><%=t(:containing_text)%>:</label>
    <%= text_field_tag :q, params[:q], :class => "user_search" %>
    <%= hidden_field_tag "order", params[:order]%>
    <%= button_tag 'Zobrazit'%>
    <%= button_tag 'XLS', {:name => "format", :value => "xls"}%>
  </p>
<% end -%>