<div id="user_box" class="sidebar_box">
  <h3><%= t(:signin).mb_chars.capitalize%></h3>
  <fieldset>
  <% unless logged_in? %>
    <% form_remote_tag(:html => {:action => '/signin', :id => 'user_form'}, :url => '/signin') do %>
      <p>
        <label for="user_login" class="fleft"><%= t('username') %>:</label>
        <input type="text" tabindex="1" name="user[login]" id="user_login" class="fright"/>
      </p>
      <p>
        <label for="user_password" class="fleft"><%= t('password') %>:</label>
        <input type="image" tabindex="3" value="<%= t('signin') %>" src="/images/form_ok.gif" class="fright" id="submit"/>
        <input type="password" tabindex="2" name="user[password]" id="user_password" class="fright"/>
      </p>
      <p>
        <%= link_to t('signup'), {:action => 'new', :controller => 'users'},:class=>"fleft"%>
        <%= link_to t('forgotten_password'), {:action => 'forgotten_password', :controller => 'users'},:class=>"fright"%>
      </p>
    <% end %>
  <% else %>
    <p>
      <%= t('user') %>: <%= current_user.name %>
    </p>
    <p><%= link_to_remote t('signout'), :url => '/signout', :html => {:href => '/signout'} %>
      | <%= link_to t('edit_my_profile'), {:controller => 'users', :action => 'edit', :id => current_user} %>
    </p>
  <% end %>
  </fieldset>
</div>