<table class="admin" id="balance">
  <thead>
    <tr>
      <td><%= link_to t("model_product"), :action => 'warnings', :order => "products.name ASC" %></td>
      <td><%= link_to t("amount"), :action => 'warnings', :order => "amount ASC" %></td>
      <td/>
    </tr>
  </thead>
  <tbody id="records_body">
<%- for record in @records -%>
    <tr>
      <td><%= record.product.name %></td>
      <td><%= format_amount(record.amount) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if protect_against_forgery? %> 
<div style='display: none;' id="authenticity_token"><%= form_authenticity_token %></div> 
<% end %>
<script type="text/javascript">
$(function(){
  $("tr.pagination a").regenerateLinks();
});
</script>