<table class="admin" id="warnings">
  <thead>
    <tr>
      <td><%= link_to locales["model_product"], :action => 'warnings', :order => "products.name" %></td>
      <td><%= link_to locales["day"], :action => 'warnings', :order => "day" %></td>
      <td><%= link_to locales["amount"], :action => 'warnings', :order => "amount" %></td>
      <td/>
    </tr>
  </thead>
  <tbody id="records_body">
<%- for record in @records -%>
    <tr id="record_<%=record.id%>">
      <td><%= record.ordered_item.item.name %></td>
      <td><%= format_date(record.day) %> <%= format_time(record.deliver_at)%></td>
      <td><%= format_amount(record.amount) %></td>
      <td><%= smart_link locales[:delete], {:action => 'destroy_warning', :id => record}, :confirm => locales['delete_confirmation'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if protect_against_forgery? %> 
<div style='display: none;' id="authenticity_token"><%= form_authenticity_token %></div> 
<% end %>
<script type="text/javascript">
$(function(){
  $("tr.pagination a").regenerateLinks();
});
</script>