<div id="admin_menu_backdrop" class="admin_menu">
  <span id="admin_title">&hellip;admin</span>
</div>
<div id="admin_menu" class="admin_menu">
  <%- if protect_against_forgery? -%> 
  <script type="text/javascript">window.authenticity_token = <%= form_authenticity_token.inspect %>;</script>
  <%-end-%>
<%-if current_user.belongs_to_one_of? :admins, :warehousers, :operation_chefs, :chefs-%>
  <dl>
    <dt><%= t(:admin_delivery)%></dt>
    <dd><%= link_to t(:admin_meals), :controller => '/meals' -%></dd>
    <%- if current_user.belongs_to? :admins -%>
    <dd><%= link_to t(:admin_categories), :controller => '/meal_categories' -%></dd>
    <%-end-%>
    <%-if current_user.belongs_to_one_of? :admins, :operating_officers, :chefs -%>
    <dd><%= link_to t(:admin_menus), :controller => '/menus' -%></dd>
    <%-end-%>
    <%-if current_user.belongs_to_one_of? :admins, :chefs-%>
    <dd><%= link_to t(:admin_bundles), :controller => '/bundles' -%></dd>
    <dd><%= link_to t(:admin_spices), :controller => '/spices' -%></dd>
    <%-end-%>
    <dd><%= link_to t(:admin_ingredients), :controller => '/ingredients' -%></dd>
    <%-if current_user.belongs_to_one_of? :admins, :chefs-%>
    <dd><%= link_to t(:admin_meal_flags), :controller => '/meal_flags' -%></dd>
    <%-end-%>
  </dl>
<%- end -%>
<%- if current_user.belongs_to? :admins-%>
  <dl>
    <dt><%= t(:admin_content)%></dt>
    <dd><%= link_to t(:admin_pages), :controller => '/pages' -%></dd>
    <dd><%= link_to t(:admin_news), :controller => '/news' -%></dd>
    <dd><%= link_to t(:admin_snippets), :controller => '/snippets' -%></dd>
    <dd><%= link_to t(:admin_polls), :controller => '/polls' -%></dd>
    <dd><%= link_to t(:admin_dialy_menus), :controller => '/dialy_menus' -%></dd>
    <dd><%= link_to t(:admin_category_order), :controller => '/meal_category_orders' -%></dd>
  </dl>
<%-end-%>
<%-if current_user.belongs_to_one_of? :admins, :warehousers, :deliverymen, :operating_officers, :chefs -%>
  <dl>
    <dt><%= t(:admin_logistics)%></dt>
    <%-if current_user.belongs_to_one_of? :admins, :warehousers, :operating_officers, :chefs -%>
    <dd><%= link_to t(:admin_suppliers), :controller => '/suppliers' -%></dd>
    <%-end-%>
    <%-if current_user.belongs_to_one_of? :admins, :chefs-%>
    <dd><%= link_to t(:admin_schedule), :controller => '/schedule' -%></dd>
    <%-end-%>
    <%-if current_user.belongs_to_one_of? :admins, :deliverymen -%>
    <dd><%= link_to t(:admin_lost_items), :controller => '/lost_items'-%></dd>
    <%-end-%>
    <%-if current_user.belongs_to_one_of? :admins, :deliverymen, :chefs -%>
    <dd><%= link_to t(:admin_sold_items), :controller => '/sold_items'-%></dd>
    <%-end-%>
    <%-if current_user.belongs_to? :admins-%>
    <dd><%= link_to t(:admin_delivery_methods), :controller => '/delivery_methods' -%></dd>
    <dd><%= link_to t(:admin_zones), :controller => '/zones' -%></dd>
    <dd><%= link_to t(:admin_delivery_men), :controller => '/delivery_men' -%></dd>
    <%-end-%>
  </dl>
<%-end-%>
<%-if current_user.belongs_to_one_of? :admins-%>
  <dl>
    <dt><%= t(:admin_users)%></dt>
    <dd><%= link_to t(:admin_users_listing), :controller => '/users' -%></dd>
    <dd><%= link_to t(:admin_orders), :controller => '/orders' -%></dd>
    <dd><%= link_to t(:admin_user_discounts), :controller => '/user_discounts' -%></dd>
    <dd><%= link_to t(:admin_item_discounts), :controller => '/item_discounts' -%></dd>
    <dd><%= link_to t(:admin_wholesale_discounts), :controller => '/wholesale_discounts' -%></dd>
  </dl>
<%-end-%>
<%-if current_user.belongs_to_one_of? :admins, :operating_officers-%>
  <dl>
    <dt><%= t(:admin_restaurant)%></dt>
    <%-if current_user.belongs_to? :admins-%>
    <dd><%= link_to t(:admin_premises), :controller => '/premises'-%></dd>
    <%-end-%>
    <dd><%= link_to t(:admin_restaurant_sales), :controller => '/restaurant_sales'-%></dd>
  </dl>
<%-end-%>
<%-if current_user.belongs_to_one_of? :admins, :operating_officers, :warehousers, :chefs-%>
  <dl>
    <dt><%= t(:admin_outputs)%></dt>
    <%-if current_user.belongs_to_one_of? :admins, :warehousers, :chefs-%>
    <dd><%= link_to t(:admin_shopping_list), :controller => '/views', :action => 'shopping_list' -%></dd>
    <%-end-%>
    <%-if current_user.belongs_to_one_of? :admins, :warehousers, :operating_officers, :chefs-%>
    <dd><%= link_to t(:admin_cooking), :controller => '/views', :action => 'cooking' -%></dd>
    <%-end-%>
    <%-if current_user.belongs_to_one_of? :admins, :warehousers, :chefs-%>
    <dd><%= link_to t(:admin_items_to_load), :controller => '/views', :action => 'items_to_load' -%></dd>
    <%-end-%>
    <%-if current_user.belongs_to_one_of? :admins, :operating_officers, :chefs -%>
    <dd><%= link_to t(:admin_summary), :controller => '/views', :action => 'summary' -%></dd>
    <dd><%= link_to t(:admin_average_day), :controller => '/views', :action => 'average_day' -%></dd>
    <%-end-%>
  </dl>
<%-end-%>
  <a href="#" id="admin_hide">Skrýt admin menu</a>
</div>