<% content_for :sidebar do %>
  <%= render :partial => 'polls/sidebar_box'%>
  <div id="calendar_box" class="sidebar_box">
    <h3><%= locales[:dialy_offer]%></h3>
    <%= draw_calendar_switch(
      :scheduled_days => @days.collect {|day| day.scheduled_for },
      :date => @date, :url_options => {:controller => 'menu'},
      :last_day => @days.last.scheduled_for
    ) %>
  </div>
  <% if @dialy_menu && @dialy_entries && @dialy_categories %>
  <div id="news_box" class="sidebar_box">
    <div class="story">
      <h4>Dnešní menu restaurace</h4>
      <%= render :partial => "dialy_menus/menu", :locals => {:prices => true, :entries => @dialy_entries, :categories => @dialy_categories, :menu => @dialy_menu}%>
    </div>
  </div>
  <% end %>
  <% if @news && !@news.empty? %>
  <div id="news_box" class="sidebar_box">
    <% for story in @news %>
    <div class="story">
      <h4><%= story.title %> (<%= format_date story.publish_at %>)</h4>
      <%= story.body %>
    </div>
    <% end %>
  </div>
  <% end %>
<% end %>