<table class="admin" id="ingredients_log">
  <thead>
    <% unless (pagination = will_paginate(@records,:container=>false,:params=>{:date=>params[:date]})).nil? %>
    <tr class="pagination">
      <td colspan="7"><%= pagination %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= link_to t("ingredient")%></td>
      <td><%= link_to t("attr_day"), :order =>:day %></td>
      <td><%= link_to t("amount"), :order => :amount %></td>
      <td><%= link_to t("cost_per_unit"), :order => :cost %></td>
      <td><%= link_to t("total_cost"), :order => :total_cost %></td>
      <td><%= link_to t("note"), :order => :notes %></td>
      <td><span id="record_add"><%= smart_link t(:add), :action => 'new' %></span></td>
    </tr>
  </thead>
  <tbody id="records_body">
  <% for record in @records %>
    <tr <%= "id='record_#{record.id}'" if record.id %>>
      <%= render :partial => "show", :locals => {:record => record} %>
    </tr>
  <% end %>
  </tbody>
</table>
<% if protect_against_forgery? %> 
<div style='display: none;' id="authenticity_token"><%= form_authenticity_token %></div> 
<% end %>
<script type="text/javascript">
$(function(){
  $("tr.pagination a").regenerateLinks();
});
</script>