<td><%= link_to (record[:ingredient_name].blank?)? record.ingredient.name : record[:ingredient_name] , :action=> "show", :controller => :ingredients, :id=> record.ingredient_id %></td>
<td><%= format_date record.day %></td>
<td><%= format record.amount %> <%= (record[:ingredient_unit].blank?)? record.ingredient.unit : record[:ingredient_unit] %></td>
<td><%= format_currency record[:cost] %></td>
<td><%= format_currency record[:total_cost] %></td>
<td><%= record.notes if record.notes %></td>
<td><% if record.id %>
  <%= smart_link t(:edit), :action => 'edit', :id => record %>
| <%= smart_link t(:delete), {:action => 'destroy', :id => record}, :confirm => t('delete_confirmation') %>
<%end%></td>