<table class="admin" id="watchdogs">
  <thead>
    <tr>
      <td><%= link_to t("ingredient"), :action => 'watchdogs', :order => "ingredients.name ASC" %></td>
      <td><%= link_to t("value"), :action => 'watchdogs', :order => "value" %></td>
      <td><%= link_to t("operator"), :action => 'watchdogs', :order => "operator" %></td>
      <td><%= link_to t("balance"), :action => 'watchdogs', :order => "balance" %></td>
      <td><%= link_to t("state"), :action => 'watchdogs', :order => "state" %></td>
    </tr>
  </thead>
  <tbody id="records_body">
<% for record in @records 
  classes = [] 
  classes << "even" if (even = even.blank?).blank?
  classes << "watchdog_warning" if !record.state  %>
    <tr class="<%= classes.join(" ") %>">
      <td><%= record[:ingredient_name] %></td>
      <td><%= format_amount(record.value, :unit => record[:ingredient_unit]) %></td>
      <td><%= t("operator_#{record.operator_readable}") %></td>
      <td><%= format_amount(record.balance, :unit => record[:ingredient_unit]) %></td>
      <td><%= format(record.state) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if protect_against_forgery? %> 
<div style='display: none;' id="authenticity_token"><%= form_authenticity_token %></div> 
<% end %>
<script type="text/javascript">
$(function(){
  $("tr.pagination a").regenerateLinks();
});
</script>