<%= error_messages_for :record %>
<% remote_form_for :record, :url => url do |f| %>
  <% row_id = "record_#{@record.id ? @record.id : 'new'}" %>
  <p><label for="<%=row_id%>_name"><%= t(:attr_name) %></label><br />
  <%= f.text_field :name, :class => '{required: true, minlength: 2}', :id=>"#{row_id}_name" %></p>
  <p><label for="<%=row_id%>_name"><%= t(:attr_facebook)%></label><br/>
  <%= f.check_box :facebook, :id=>"#{row_id}_facebook" %></p>
<p><%= yield(:submit_button) || '<input type="submit" value="' + t(:submit) + '" />' %></p>
<% end %>
<script type="text/javascript">$("form").initValidation();</script>