<h2><%= t(:active_discounts)%></h2>
<table class="admin">
  <thead>
    <tr>
      <td><%=t(:attr_discount_class)%></td>
      <td><%= t(:attr_from)%></td>
      <td><%= t(:attr_to)%></td>
      <td><%= t(:condition)%></td>
      <td><%= t(:value)%></td>
    </tr>
  </thead>
  <tbody>
  <% @order.active_discounts[:user_discounts].each do |ud| %>
    <tr>
      <td><%= t(:model_user_discount) %></td>
      <td><%= format_date(ud.start_at)%>
      <td><%= format_date(ud.expire_at) if ud.expire_at %></td>
      <td><%= t(:model_user) %>: <%= format ud.user.login%> </td>
      <td><%= format_amount(ud.amount, :unit => "%")%></td>
    </tr>
  <%end%>
  <% @order.active_discounts[:item_discounts].each do |id| %>
      <td><%= t(:model_user_discount) %></td>
      <td><%= format_date(id.start_at)%>
      <td><%= format_date(id.expire_at) if id.expire_at %></td>
      <td><%= t(:model_item) %>: <%= format id.item.name%> </td>
      <td><%= format_amount(id.amount, :unit => "%")%></td>
  <%end%>
  <% @order.active_discounts[:wholesale_discounts].each do |wd| %>
      <td><%= t(:model_wholesale_discount) %></td>
      <td><%= format_date(wd.start_at)%>
      <td><%= format_date(wd.expire_at) if wd.expire_at %></td>
      <td><%= t(:model_user) %>: <%= format wd.user.login%> </td>
      <td><%= format_currency(wd.discount_price)%></td>
  <%end%>
  </tbody>
</table>