<tr id="order_<%= order.id %>" class="order"<%= " style='background: #{order.delivery_man.delivery_man_color} !important;'" if order.delivery_man and order.delivery_man.delivery_man_color%>> 
  <td><%= order.id %></td>
  <td><%= link_to order.user.name, :controller => :users, :action => :show, :id => order.user.id %></td>
  <td class="<%= 'zone-error' unless order.user.delivery_address.zone and order.user.delivery_address.zone_reviewed? %> address">
    <%= order.user.delivery_address.output %>
  </td>
  <td class="<%= 'zone-error' unless order.user.delivery_address.zone and order.user.delivery_address.zone_reviewed? %>">
    <%-if order.user.delivery_address.zone%>
      <%= order.user.delivery_address.zone.name%>
      <% unless order.user.delivery_address.zone_reviewed? %>
      <br/><%= link_to_remote t(:zone_reviewed).downcase,  :url => {:controller => "users", :action => "set_zone", :id => order.user.id, :from => "orders", :order_id => order.id, :zone => {:zone_reviewed => true}} %>
      <%-end-%>
    <%-else-%>
      <% form_remote_tag :url => {:action => :set_zone, :id => order.user.id, :controller => :users, :from => "orders", :order_id => order.id} do %>
        <select name="zone[zone_id]" class="zone" id="order_<%=order.id%>_user_zone_id" onchange='confirm("Opravdu chcete uživateli nastavit zónu?") && this.form.onsubmit();'>
            <option/>
          <%- @zones.each do |zone|%>
            <option value="<%= zone.id %>" <%= 'disabled="disabled"' if zone.hidden? %>><%=h zone.name%></option>
          <%-end%>
        </select>
      <%end%>
    <%-end-%>
  </td>
  <td><%= format_currency(order.price) %></td>
  <td>
    <% form_remote_tag :url => {:action => 'assign', :id => order.id} do %>
    <p>
      <select name="delivery_man_id" onchange='this.form.onsubmit();'>
        <option value="null"><%= t(:none_assigned) %></option>
        <% for dude in delivery_men %>
          <option<%= ' selected="selected"' if order.delivery_man and order.delivery_man.id == dude.id %> value="<%= dude.id %>"><%= dude.label %></option>
        <% end %>
      </select>
    </p>
    <% end %>
  </td>
  <td>
    <% if order.cancelled %>
      <%= t("order_status_#{order.state}") %>
      <%= link_to_remote t('restore'), :url => {:action => 'toggle_cancelled', :id => order.id} %>
    <% else %>
      <% form_remote_tag :url => {:action => 'change_state', :id => order.id} do %>
      <p>
        <select name="state" onchange='this.form.onsubmit();'>
          <% for state in ['order', 'expedited', 'closed'] %>
            <option value="<%= state %>"<%= order.state == state ? ' selected="selected"' : "" %>><%= t('order_status_'+state) %></option>
          <% end %>
        </select>
      </p>
      <% end %>
      <%= link_to_remote t('cancel_order'), :url => {:action => 'toggle_cancelled', :id => order.id} %>
    <% end %>
  </td>
  <td class="fullscreen"><%= format order.deliver_at.to_date %></td>
  <td><%= format order.deliver_at %></td>
  <td>
  <%= link_to image_tag('open.png'), :action => 'show', :id => order.id %>
  <%= link_to image_tag('edit.png'), :action => 'edit', :id => order.id %>
  <%=link_to "<img src='/images/print.png' alt='#{t(:print)}'/>", {:action => :show, :id => order.id, :print => true },:popup =>['print', 'height=300,width=300']%></td>
</tr>