<div id="orders">
  <table class="admin <%= "orders-with-state" unless (params[:state] and params[:state] == 'all') %>">
    <thead>
      <tr>
        <td>id</td>
        <td><%= t(:attr_user) %></td>
        <td><%= t(:attr_address) %></td>
        <td class=""><%= t(:attr_zone) %></td>
        <td><%= t(:attr_price) %></td>
        <td><%= t(:attr_delivery_man) %></td>
        <td><%= t(:attr_order_state) %></td>
        <td class="fullscreen"><%= t(:date_of_delivery).downcase %></td>
        <td><%= t(:attr_deliver_at) %></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% for order in @orders %>
      <% even = (even.nil? || even)? false : true %>
      <%= render :partial => 'order', :locals => {:order => order, :delivery_men => @delivery_men, :even => even} %>
    <% end %>
    </tbody>
  </table>
  <%= render :partial => "sum" if @orders_sum%>
</div>