<table class="admin <%= "orders-with-state" unless (params[:state] and params[:state] == 'all') %>">
  <thead>
    <tr>
      <td><%= t(:attr_user) %></td>
      <td><%= t(:attr_price) %></td>
      <td><%= t(:from) %></td>
      <td><%= t(:to) %></td>
    </tr>
  </thead>
  <tbody>
  <%- for order in @orders_sum -%>
    <%- even = (even.nil? || even)? false : true -%>
    <tr>
      <td><%= format order.user.name%></td>
      <td><%= format_currency order.price%></td>
      <td><%= format_date Date.parse(order[:since])%></td>
      <td><%= format_date Date.parse(order[:to])%></td>
    </tr>
  <%- end -%>
  </tbody>
</table>