<table class="admin <%= "orders-with-state" unless (params[:state] and params[:state] == 'all') %>">
  <thead>
    <tr>
      <td><%= locales[:attr_user] %></td>
      <td><%= locales[:attr_price] %></td>
      <td><%= locales[:from] %></td>
      <td><%= locales[:to] %></td>
    </tr>
  </thead>
  <tbody>
  <%- for order in @orders_sum -%>
    <%- even = (even.nil? || even)? false : true -%>
    <tr>
      <td><%= format order.user.name%></td>
      <td><%= format_currency order.price%></td>
      <td><%= format_date Date.parse(order[:since])%></td>
      <td><%= format_date Date.parse(order[:to])%></td>
    </tr>
  <%- end -%>
  </tbody>
</table>