<h1><%= t('your_orders') %></h1>
<%= will_paginate @orders %>
<table class="admin">
  <thead>
  <tr>
    <td><%= link_to t(:order_number), :order => "id" %></td>
    <td><%= link_to t(:attr_price), :order => "price" %></td>
    <td><%= link_to t(:attr_order_state), :order => "state" %></td>
    <td><%= link_to t(:attr_deliver_at), :order => "deliver_at" %></td>
  </tr>
  </thead>
  <tbody>
  <% for order in @orders %>
    <%= render :partial => 'my_order', :locals => {:order => order} %>
  <% end %>
  </tbody>
</table>
<%= render :partial => 'shared/user_sidebar'%>
