<ul><%
if i+1 <= @ancestors.count 
  category.self_and_siblings.each do |s| 
  classes = []
  classes.push "opened_list" if @ancestors_ids.include?(s.id)
  classes.push "empty_list" if s.children.length == 0   %>
    <li class="<%= classes.join " "%>"> <%=link_to s.name, :category => s.id %>
    <%if @ancestors_ids.include? s.id %>
      <%= render :partial => "category", :locals => {:i => i+1, :category => @ancestors[i+1]}%>
    <%end%>
    </li>  
<%end
else%>
  <% category.children.each do |c| %>
      <li class="<%= "empty_list" if c.children.length == 0%>"><%=link_to c.name, :category => c.id %></li>
  <%end
end%>
</ul>
