<div class="product" id="standalone">
  <div class="categories">  
<%-@product.categorized_products.each do |product|-%>
    <%= render :partial => "category_path", :locals => {:category => product.product_category}%>
<%-end-%>
  </div>
<div class="img"><%- if @product.image_flag-%><img src="/pictures/item_<%=@product.item_id%>.th.jpg" alt="<%= @product.name%>"/><%-end-%></div>
<h1><%= link_to @product.name.mb_chars.capitalize, seo_url(@product)%></h1>
<p>
  <%= t(:price).mb_chars.capitalize%>: <%= format_currency @product.price%><br/>
  <%- if @product.on_stock? -%>
    <%= t(:on_stock).mb_chars.capitalize%>: <%= t(:true_class).mb_chars.capitalize%>
  <%-else-%>
    <%=t(:term_of_delivery).mb_chars.capitalize%>: <%= format_interval @product.term_of_delivery%>
  <%-end-%>
</p>
<div class="description"><%= @product.description%></div>
<fieldset>
  <% form_tag :controller => 'basket', :action => 'add_item' do %>
  <p><input type="text" name="item[amount]" class="amount_input" <%= 'disabled="disabled"' unless @product.available?%>/>
    <input type="hidden" name="item[item_id]" value="<%=@product.item_id%>"/>
  </p>
  <p><input type="image" value="do košíku" src="/images/form_add_to_basket<%="_gray" unless @product.available?%>.gif" <%= 'disabled="disabled"' unless @product.available?%>/></p>
  <%end%>
</fieldset>
</div>