<div id="cooking_ingredients">
  <table class="admin">
    <thead>
      <tr>
        <td><%= locales[:attr_name]%></td>
        <td class="text right"><%= locales[:amount]%></td>
      </tr>
    </thead>
    <tbody>
  <% for ingredient in @ingredients 
  next if ingredient.supply_flag %>
      <tr>
        <td><%= ingredient.name%></td>
        <td class="text right"><%= format ingredient.amount%> <%=ingredient.unit%></td>
      </tr>
  <% end %>
    </tbody>
    </table>
</div>
