<% row_id = "lost_item_#{@record.new_record? ?  'new' : @record.id}" 
   remote_form_for 'record', :url => {:action => (@record.new_record?)? 'create' : 'update', :id => @record.id }, :html => {:id => row_id} do |f|%>
   <%= validation_error_for @record %>
  <p><label for="<%=row_id%>_lost_at"><%= t(:attr_scheduled_for) %></label><br />
    <%= f.text_field :lost_at, :id => row_id+"_lost_at", :class => "{required: true}", :onchange => "scheduled_items.load(this.value, '##{row_id}_item_id');" %>
  </p>
  <p>
    <label for="<%=row_id%>_item_id"><%= t(:item) %></label><br />
    <select name="record[item_id]" id="<%=row_id%>_item_id" class="{required: true}">
      <option></option>
        <% if @record.item %>
          <option value="<%= @record.item.item_id %>" selected="selected"><%= @record.item.name %></option>
        <% end %>
      </optgroup>
    </select>
  </p>
  <table>
      <thead>
        <tr>
          <th><%= t(:attr_user) %></th>
          <th><%= t(:amount) %></th>
        </tr>
      </thead>
      <tbody>
        <%- @delivery_men.each do |delivery_man| -%>
          <tr>
            <td><strong><%= h delivery_man.name %></strong><%= hidden_field_tag "record[users][]", delivery_man.id %></td>
            <td><%= text_field_tag "record[amounts][]", nil, :class => "{min: 0}" %></td>
          </tr>
        <%-end-%>
      </tbody>
  </table>
  <p><%= yield :submit_button%></p>
<% end %>
<script type="text/javascript">
$(function(){
    $("#<%=row_id%>").initValidation();
    $("#<%=row_id%>_lost_at").datepicker();
    $("#<%=row_id%>_user").autocomplete('/users/find/');
});
</script>