<div id="list">
  <table class="admin">
    <thead>
      <tr>
        <td><%= t(:model_meal) %></td>
        <td><%= t(:attr_scheduled_for) %></td>
        <td><%= t(:model_user) %></td>
        <td><%= t(:amount) %></td>
        <td><span id="record_add"><%= smart_link t(:add), {:action => "new" } %></span></td>
      </tr>
    </thead>
    <tbody id="records_body">
    <% for item in @lost_items%>
      <tr id="record_<%=item.id%>"><%= render :partial => "show", :locals => {:record => item}%></tr>
    <% end%>
    </tbody>
  </table>
</div>