  <td><%= record.item.name %></td>
  <td><%= format_date record.lost_at %></td>
  <td><%= record.user.name %></td>
  <td><%= format record.amount%></td>
  <td>
  <%= smart_link t(:edit), :action => 'edit', :id => record %>
  | <%= smart_link t(:delete), {:action => 'destroy', :id => record}, :confirm => t('delete_confirmation') %>
</td>