<dl>
  <dt><%= locales[:attr_from]%>:</dt>
  <dd><%= message.from_address %></dd>
  <dt><%= locales[:mail_to]%>:</dt>
  <dd><%= message.to_address %></dd>
  <dt><%= locales[:recieved]%>:</dt>
  <dd><%= format_date(message.created_at)+' '+format_time(message.created_at) %></dd>
</dl>
<h3><%= message.subject %></h3>
<div class="message-body">
  <%= message.body %>
</div>
<%= render :partial => '/mail/messages/message_menu', :locals => {:message => message} %>