<tr class="message-reply" id="reply_to_<%= @message.id %>">
  <td colspan="4">
    <h3>Re: <%= @message.subject %></h3>
    <% form_remote_tag :url => {:controller => '/mail/messages', :action => 'reply'}, :html => {:class => 'message-body'} do |f| %>
      <p>
        <%= text_area_tag 'repy[body]', format_reply(@message) %>
      </p>
      <p>
        <%= submit_tag t(:send) %> <%= link_to_function t(:cancel), "$('#reply_to_#{@message.id}').remove()" %>
      </p>
    <% end %>
  </td>
</tr>