<table class="admin" id="records">
  <thead>
    <% unless (pagination = will_paginate(@records,:container=>false)).nil? %>
    <tr class="pagination">
      <td colspan="<%=@options[:columns].size+2%>"><%= pagination %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= link_to t("attr_#{@options[:title)[:name]}"], :action => 'index', :order => @options[:title][:name] %></td>
      <td><%= link_to t("model_meal"), :action => 'index', :order => "meal_id" %></td>
      <td><%= link_to t("amount"), :action => 'index', :order => "amount" %></td>
      <td><%= link_to t("attr_price"), :action => 'index', :order => "price" %></td>
      <td><%= link_to t("cost"), :action => 'index', :order => "cost" %></td>
      <td><%= link_to t(:attr_updated_at), :action => 'index', :order => "updated_at" %></td>
      <td><span id="record_add"><%= smart_link t(:add), :action => 'new' %></span></td>
    </tr>
  </thead>
  <tbody id="records_body">
  <% for record in @records %>
    <tr id="record_<%= record.id %>">
      <%= render :partial => 'show', :locals => {:record => record} %>
    </tr>
  <% end %>
  </tbody>
</table>
<% if protect_against_forgery? %> 
<div style='display: none;' id="authenticity_token"><%= form_authenticity_token %></div> 
<% end %>