- form_for :mass_menu, :html => {:class => :mass_menu, :method => :post} do |f|
  - @orders.each do |order|
    %table.order.menu
      %caption #{format_date_with_weekday(order.date)} &ndash; #{l order.deliver_at, :format => :very_short}
      %thead
        %tr
          %td= t(:attr_name)
          %td.price= t(:attr_price)
          %td.price= t(:pieces)
          %td.price= t(:overall)
          %td
      %tfoot
        %tr{:class => [:total, cycle(:even, :odd)]}
          %td{:colspan=>3}
          %td.price
            %strong= format_currency order.price
          %td
      %tbody
        - if order.ordered_items.empty?
          %tr
            %td{:colspan => 5} Na tento den není žádná objednávka.
        - else
          - for item in order.ordered_items
            %tr{:id => "item_#{item.item.id}", :class => cycle(:even, :odd)}
              %td= item.item.name
              %td.price= format_currency item.item.price
              %td.price= format item.amount
              %td.price= format_currency (item.amount * item.item.price)
              %td
          - if order.original_price != order.discount_price
            %tr{:class => cycle(:even,:odd)}
              %td= t(:discount)
              %td{:colspan=>2}
              %td.price= format_currency(-1*(order.original_price - order.discount_price) )
              %td
          %tr{:class => cycle(:even, :odd)}
            %td= order.delivery_method.basket_name
            %td{:colspan=>2}
            %td.price{:id => "order_#{order.id}_delivery_fee"}
              = format_currency order.delivery_method.price
            %td
  %p.submit
    = link_to "Zpět na úpravu objednávek", mass_menu_path
    = submit_tag "Závazně odeslat všechny objednávky", :confirm => "Opravdu chcete odeslat všechny objednávky?\n\nTato akce nelze vrátit zpět."