<tr id="message_<%= message.id %>" class="mail_message<%= " unread" if message.flag_new %>">
  <% if message.flag_new && !hide -%>
  <%= render :partial => '/mail/messages/details', :locals => {:message => message} %>
  <% else -%>
  <td>
    <%= message.from %>
  </td>
  <td>
    <%= smart_link message.subject, :controller => '/mail/messages', :action => 'details', :id => message.id %>
  </td>
  <td>
    <%= message.body %>
  </td>
  <td>
    <%= format_date(message.created_at)+' '+format_time(message.created_at) %>
  </td>
  <% end -%>
</tr>