<table class="admin" id="conversation_<%= @conversation.id %>">
  <thead>
    <% if can_reply_to @conversation -%>
    <tr class="conversation-menu">
      <td colspan="4">
      <% if @conversation.flag_closed -%>
        <%= locales[:conversation_closed] %> <%= smart_link locales[:reopen_conversation], {:action => 'reopen', :id => @conversation.id} -%>
      <% else -%>
        <%= smart_link locales[:close_conversation], {:action => 'close', :id => @conversation.id}, :confirm => locales[:confirm_close_conversation] -%>
      | <%= smart_link locales[:note], :action => 'edit_note', :id => @conversation.id  %>
      | <%= smart_link locales[:spam], :action => 'mark_as_spam', :id => @conversation.id %> |
      
        <% form_remote_tag :url => {:controller => '/mail/conversations', :action => 'move', :id => @conversation.id} do -%>
          <%= label_tag('to', link_to_function(locales[:move_to], '$(this).parents("form").get(0).onsubmit()'), :confirm => locales[:confirm_move_conversation]) %>
          <%= select_tag('to', options_for_select(@mailboxes.delete_if {|k,v| v == @conversation.mailbox_id}))%>
        <% end -%>
      <% end -%>
      </td>
    </tr>
    <% end -%>
    <% if @conversation.note != '' %>
      <%= render :partial => 'note', :locals => {:note => @conversation.note, :id => @conversation.id} %>
    <% end %>
    <tr>
       <th><%= locales[:attr_from] %></th>
       <th><%= locales[:attr_subject] %></th>
       <th><%= locales[:body] %></th>
       <th><%= locales[:recieved] %></th>
     </tr>
   </thead>
   <tbody>
    <% @conversation.messages.each do |message| -%>
      <%= render :partial => 'message', :locals => {:message => message, :hide => false} %>
    <% end -%>
  </tbody>
</table>
