<ul class="ui-tabs-nav">
<li id="mail-tab-new" <%= 'class="ui-tabs-selected"' if params[:category] == 'new' || params[:category] == nil  %>>
    <%= smart_link t('mail_cat_new'), :category => 'new' %>
</li>
<li id="mail-tab-mine" <%= 'class="ui-tabs-selected"' if params[:category] == 'mine' %>>
    <%= smart_link t('mail_cat_mine'), :category => 'mine' %>
</li>
<li id="mail-tab-open" <%= 'class="ui-tabs-selected"' if params[:category] == 'open' %>>
    <%= smart_link t('mail_cat_open'), :category => 'open' %>
</li>
<li id="mail-tab-closed" <%= 'class="ui-tabs-selected"' if params[:category] == 'closed' %>>
    <%= smart_link t('mail_cat_closed'), :category => 'closed' %>
</li>
<li id="mail-tab-all" <%= 'class="ui-tabs-selected"' if params[:category] == 'all' %>>
    <%= smart_link t('mail_cat_all'), :category => 'all' %>
</li>
</ul>
<%= render :partial => "index" %>