<%= error_messages_for :record %>
<% row_id = "record_#{@record.id ? @record.id : 'new'}" %>
<% remote_form_for :record, :url => url, :html => {:onsubmit => "jQuery(this).update_textareas();",  :id => "product_form_" + row_id} do |f| %>
<div class="tabs">
  <ul>
    <li><a href="#<%= row_id %>_tab_product"><%= locales[:model_product] %></a></li>
    <li><a href="#<%= row_id %>_tab_product_category"><%= locales[:attr_category] %></a></li>
    <li><a href="#<%= row_id %>_tab_picture"><%= locales[:attr_picture] %></a></li>
  </ul>
  <div id="<%= row_id %>_tab_product">
    <p><label for="<%=row_id%>_name"><%= locales[:attr_name] %></label><br />
    <%= f.text_field :name, :id=>"#{row_id}_name", :class => '{required: true, minlength: 2, maxlength: 100}' %></p>
    <p><label for="<%=row_id%>_price"><%= locales[:attr_price] %></label><br />
    <%= f.text_field :price, :id=>"#{row_id}_price", :class => '{required: true, number: true, minlength: 1}' %></p>
    <p><label for="<%=row_id%>_cost"><%= locales[:cost] %></label><br />
    <%= f.text_field :cost, :id=>"#{row_id}_cost", :class => '{required: true, number: true, minlength: 1}' %></p>
    <p><label for="<%=row_id%>_disabled"><%= locales[:disabled] %></label><br />
    <%= f.check_box :disabled, :id=>"#{row_id}_disabled" %></p>
    <p><label for="<%=row_id%>_term_of_delivery"><%= locales[:term_of_delivery] %></label><br />
    <%= f.hidden_field :term_of_delivery, :id=>"#{row_id}_term_of_delivery"%></p>
    <p><%= locales[:num_of_days].chars.capitalize%>: <span id="<%=row_id%>_num_of_days"/></p>
    <div id="<%=row_id%>_term_of_delivery_slider"/>
    <p><label for="<%= row_id %>_short_description"><%= locales["attr_short_description"] %></label><br />
    <%= f.text_area :short_description, :class => 'small_area {required: true, maxlength: 250}', :id => "#{row_id}_short_description" %></p>
    <p><label for="<%= row_id %>_description"><%= locales["attr_description"] %></label>
    <%= f.text_area :description, :class => 'small_area', :id => "#{row_id}_description" %></p>
  </div>
  <div id="<%= row_id %>_tab_product_category">
    <p><label><%=locales[:attr_category]%></label></p>
    <%= render :partial => "categories", :locals => {:row_id => row_id, :categories => @product_categories, :js => "choose_category"}%>
  </div>
  <div id="<%= row_id %>_tab_picture">
    <% if @record.image_flag %>
    <div class="picture">
      <img src="/pictures/item_<%= @record.item_id %>.th.jpg" alt="<%= @record.name %>" />
      <p><label for="<%= row_id %>_image_flag"><%= locales[:show_picture] %>
      <%= f.check_box :image_flag, :id => "#{row_id}_image_flag" %></p>
    </div>
    <% end %>
    <p class="uploader"><label for="<%= row_id %>_record_picture"><%= locales['upload_new_picture'] %></label><br />
    <input type="file" name="image_file" id="<%= row_id %>_record_picture" /></p>  
  </div>
<p><%= yield(:submit_button) || '<input type="submit" value="' + locales[:submit] + '" />' %></p>
</div>
<% end %>
<script type="text/javascript">
<% @record.categorized_products.each do |cp| %>
choose_category('<%=row_id%>',<%=cp.product_category_id%>);
<%end%>
$("form").initValidation();

var row_color = $('#record_<%= @record.id %>').hasClass('even') ? 'D7DEBB' : 'f0f2e0';
$('.uploader').jqUploader({
  src: "/javascripts/flash_upload/jqUploader.swf",
  uploadScript: "<%= url_for(:controller=>:images,:action=>:create)%>",
  postData: jQuery.param({_zelena_kuchyne_session: jQuery.cookie("_zelena_kuchyne_session") }),
  allowedExtDescr: "Images (*.jpg; *.jpeg)",
  allowedExt: "jpg|JPG",
  background: row_color,
  endMessage: "<%= locales['picture_uploaded'] %>",
  validFileMessage: "<%= locales['picture_valid'] %>",
  progressMessage: "<%= locales['picture_being_uploaded'] %>",
  hideSubmit: false
});
$(function() {
  var value = parseInt($("#<%=row_id%>_term_of_delivery").val().replace(/[^0-9]/,""));
  var update_elements  = function(val) {
    if(val < 0 || isNaN(val)) {
      $("#<%=row_id%>_num_of_days").html(<%=locales[:unknown].inspect%>);
      $("#<%=row_id%>_term_of_delivery").val("");
    } else {
      $("#<%=row_id%>_num_of_days").html("" + val);
      $("#<%=row_id%>_term_of_delivery").val(val + " days");
    }
  }
  $("#<%=row_id%>_term_of_delivery_slider").slider({
    startValue: (isNaN(value))? -1 : value,
    min: -1,
    max: 30,
    slide: function(event, ui) {
      update_elements(ui.value);
    }
  });
  update_elements($("#<%=row_id%>_term_of_delivery_slider").slider("value"));
});
</script>