<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Zelená kuchyně je restaurace s čistě vegetariánskou kuchyní. Jídla vaříme a připravujeme ze zeleniny, obilovin, luštěnin, mléčných výrobků, ovoce, oříšků, medu, bylinek a koření a jiných čistých surovin. " />
    <meta name="robots" content="all,follow" />
    <meta name="googlebot" content="index,follow,snippet,archive=" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen, projection" title="Default Stylesheet" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" title="Default Print Stylesheet" charset="utf-8" />
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui.js" type="text/javascript"></script>
    <script src="/javascripts/jrails.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/ui.tabs.css" type="text/css" media="print, projection, screen"/>
    <% if current_user.belongs_to_one_of?(:admins, :heads_of_car_pool, :operating_officers, :warehousers, :deliverymen, :chefs) %>
    <link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen"/>
    <script src="/javascripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="/javascripts/admin.js" type="text/javascript"></script>
    <% end %>
    <script src="/javascripts/application.js" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
      jQuery().ready(function() {
        jQuery('div.error').hide();
      });
        //]]>
    </script>
    <title><%= locales['layout_title'] %>: <%= locales['error'] %></title>
  </head>
  <body id="body">
    <% if current_user.belongs_to_one_of?(:admins, :heads_of_car_pool, :operating_officers, :warehousers, :deliverymen, :chefs) %>
      <%= render :partial => '/shared/admin_menu' %>
    <% end %>
    <div id="header" class="container">
      <div id="logo">
        <span><%= locales[:title]%></span>
      </div>
      <div id="sections">
        <ul>
          <li id="s_menu"<%= ' class="active"' if active_section == 'menu' %>>
            <a href="/menu"><span><%= locales[:menu_menus]%></span></a>
          </li>
          <li id="s_eshop"<%= ' class="active"' if active_section == 'eshop' %>>
            <a href="/eshop"><span><%= locales[:menu_eshop]%></span></a>
          </li>
          <li id="s_basket"<%= ' class="active"' if active_section == 'basket' %>>
            <a href="/basket"><span><%= locales[:menu_basket]%></span></a>
          </li>
          <% if logged_in? %>
          <li id="s_orders"<%= ' class="active"' if active_section == 'orders' %>>
            <a href="/orders/mine"><span><%= locales[:menu_orders]%></span></a>
          </li>
          <% end %>
        </ul>
      </div>
    </div><!-- /#sections -->
    <div id="menu_menu" class="menu container">
      <div id="menu_pages">
        <%= snippet 'menu_pages' %>
      </div>
      <%= render :partial => (@active_section ? "/shared/menu_#{@active_section}" : '/shared/menu_menu') %>
    </div>
    <div id="contents" class="container">
      <div id="text"><div id="errors"><%= yield %></div></div>
      <div id="sidebar">
        <%= render :partial => '/users/signin'%>
        <%= yield :sidebar %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer" class="container">
      <%= snippet 'footer' %>
    </div>
  </body>
</html>